/*
    Componente PAlojamiento.js y PFiltroAlojamiento.js
*/

.PFiltroAlojamiento {
    padding-top: 160px;
}

.Alojamiento {
    padding-top: 150px;
    .ZonaLocalidad-titulo {
        background-color: #722789;
        h3 {
            color: #722789;
        }
        .contImagenDosep {
            position: absolute;
            top: 17px;
            right: 6%;
            padding: 5px 10px 5px 10px;
            background-color: #fff;
            border-radius: 50%;
            img {
                width: 75px;
                height: 75px;
            }
        }
        
    }
}

.Alojamiento-data {
    display: grid;
    //grid-template-areas: "alojamiento-texto alojamiento-fotos" "alojamiento-ubicacion alojamiento-info";
    grid-template-areas: "alojamiento-fotos alojamiento-fotos" "alojamiento-texto alojamiento-texto" "alojamiento-ubicacion alojamiento-info";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    .alojamiento-texto {
        grid-area: alojamiento-texto;
        font-style: italic;
        font-weight: 400;
        font-size: 1.2rem;
    }
    .alojamiento-fotos {
        grid-area: alojamiento-fotos;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $color-uno;
        padding: 20px 20px;
        img {
            width: 200px;
            height: 150px;
            object-fit: cover;
            margin: 8px;
            border: 1px solid #fff;
        }
    }
    .alojamiento-ubicacion {
        grid-area: alojamiento-ubicacion;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        span {
            text-transform: uppercase;
            margin-bottom: 8px;
            i {
                margin-right: 8px;
                color: $color-uno;
            }
        }
    }
    .alojamiento-info {
        grid-area: alojamiento-info;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        span {
            text-transform: uppercase;
            margin-bottom: 8px;
            i {
                margin-right: 8px;
                color: $color-uno;
            }
        }
        ul {
            li {
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .Alojamiento {
        .ZonaLocalidad-titulo {
            .contImagenDosep {
                top: 100px;
                right: 45%;
            }
        }
    }
}

@media only screen and (max-width: 790px) {
    .Alojamiento{
        .ZonaLocalidad-titulo {
            h3 {
                font-size: 2rem;
            }
        }
    }
       
    
    .Alojamiento-data {
        grid-template-areas: "alojamiento-fotos" "alojamiento-texto" "alojamiento-ubicacion" "alojamiento-info";
        grid-template-columns: 1fr;
        padding: 8px 2px;
        .alojamiento-fotos {
            padding: 8px;
            img {
                width: 100%;
                height: auto;
                //max-height: 200px;
                //padding: 0px 0px 8px 0px;
            }
        }
    }
}