@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

$card-width: 270px;
$card-height: 500px;

.material-card-hallo {
    position: relative;
    height: $card-height;
    width: $card-width;
    margin-right: 5px;

    .hallo-mc-content {
        background-color: black;
        position: absolute;
        right: 0;
        border-radius: 20px;
        padding-top: 5.6em;
        top: 0;
        bottom: 16px;
        left: 16px;

        .hallo-mc-title {
            position: absolute;
            height: fit-content;
            width: 100%;
            top: 0px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 2.3rem;
            font-family: "Jolly Lodger";
            li {
                list-style-type: none;
                background: linear-gradient(to right, rgb(73, 0, 95) 10%,rgb(255, 0, 13) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .hallo-img-container {
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 40%;
            top: 50px;

            img{
                width: $card-width;
                height: 200px;
                object-fit: cover;
            }
        }

        .hallo-mc-description {
            position: absolute;
            right: 20px;
            left: 20px;
            top: 35%;
            padding-top: 5.6em;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
            li {
                list-style-type: none;
                text-align: left;
                margin-top: 6px;  
            }
        }
    }

    .hallo-mc-footer {
        position: absolute;   
        cursor: pointer;
        text-align: center;
        top: 89%;
        left: 13%;
        a {
            color: white;    
        }
    }
}



//MAIN HALLOWEEN

.Main-Halloween {
    background-image: url($server_path+"recursos/halloween/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Titulo-Halloween {
    position: relative;
    top: -25%;
    width: 100%;
    text-align: left;
    left: 10%;
    font-size: 7rem;
    line-height: 80px;
    font-family: "Jolly Lodger";
    color: rgb(28, 228, 45);

}
.Subtitulo-Halloween {
    position: relative;
    top: -15%;
    width: 100%;
    text-align: left;
    left: 10%;
    color: white;
}
.Container-Logo1-Halloween {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: left;
    left: 10%;
}

.Container-Logo2-Halloween{
    position: relative;
    margin-top: 80px; 
}

.Telarania-Halloween {
    position: relative;
    left: -10%;
}

.Luna-Halloween{
    position: relative;
    padding-top: 100px;
    text-align: left;
    margin-left: 10%;
}

.Mitos-Halloween{
    position: relative;
    padding-top: 50px;
    margin-left: 28%;
}

#Logo1-Halloween{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 300px;
    height: 100px;
}

#Logo2-Halloween{
    margin-top: 10%;
    margin-left: 150px;
    width: 200px;
    height: 50px;
}

@media screen and (max-width: 900px) {
    .Luna-Halloween{
        text-align: left;
        margin-left: 10%;
    }
    
    .Mitos-Halloween{
        position: relative;
        padding-top: 50px;
        margin-left: 28%;
    }
}