    .main-chart-wrapper {
    padding-top: 130px;
    padding-bottom: 130px;
     .estadisticas-leyenda{
      span {
        margin: 10px 0 10px 20px;
        font-size: 2em;
        padding: 2px 15px;
        background-color: $color-uno;
        color: #fff;
        text-transform: uppercase;
      } 
     }
  }
  
  .sub-chart-wrapper {
    padding: 2%;
    display: inline-block;
    width: 50%;
    height: 300px;
    margin-bottom: 40px;
    text-align: center;
    .sub-chart-wrapper-titulo
    {     
      font-size: 1.3em;
      padding: 2px 15px;
      background-color: $color-dos;
      color: #fff;
      text-transform: uppercase;
    }
    .sub-chart-wrapper-subtitulo
    {
      font-size: 1.3em;
      padding: 2px 15px;
      margin-bottom: 15px;
      background-color: $color-dos;
      color: #fff;
      text-transform: uppercase;
    }
  }
  
  /* Simple responsivenss example */
  @media (max-width: 700px) {
    .sub-chart-wrapper {
      width: 96%;
    }
  }
  