.header-gallery{
    background: linear-gradient(to right, #722789 0%, rgba(237, 15, 104, 0.8) 100%);
    margin-bottom: 1rem;
}

.gallery-search{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAB7UlEQVRoge2YQUtUURiG3+N/CIrcTEJtGxcSlIgQRCsFQ2HoR/gDhNr6b0paZkRB5iZ0pdIiUCQKEURErORpce/gEHPPzP3OnHskzrN/v/s+58y9czhSJpPJpMRZg4CTNClpTtK0pFuSxiWNSTqW9FXSZ0lrzrmN8KojAnDAIrDH8OwCHWAsdfkJYLNG8X/5BNxJVX4WOAoo3+UEmE1R/tcIync5Bx43Vb4F/Bxh+S7HwETs8o6w3/wgPlB8zaIJLEYs36UT0rHSvlyZXUl3Qx4wBFvOubY17PsuTyp+eUm6D0xZwz6BeetQA0+sQZ/AI+tQA9PWoE/gtnWogZY16BO4aR1q4IY1mPZwdcWlNegT+G4dauDEGvQJHFqHGtizBn0CH61DDWxagz6B19ahBt5Yg4OOEjuS7lmHD8m2pLZzDku4cgfKgSvWVjVYtZYfCMVxeiPiSfQ9gcdp7/9AuTIdSUchD/HwKtrq9wLMABcRduA3sBRdoJR4CPyIIPEHeN6URIviasTKO2CZYuV7aXQnHLAA7NQo/oXiYsuVM5aSSvTItIGXwHopdAqcAd+At8AL4EFF9npIhAA86yPR3DsxCrLEdeF/kah6sZu8IQmjQuIgda9a9JHYT92pNsA8cADsA09T98lkMpn+/AXa2kep5N/5DQAAAABJRU5ErkJggg==) no-repeat 5%;
    padding-left: 35px;
    background-size: 20px;
    height: 40px;
    border-radius: 18px;
    font-size: 16px;
    background-color: rgba(255,255,255,.6);
    font-weight: bold;
    font-family: inherit;
    margin: 1rem;
}

.gallery-title{
    font-size: 2rem;
    color: rgba(255,255,255,.7);
    float: right;
    position: relative;
    font-weight: 600;
    font-family: 'Roboto';
    font-style: italic;
    margin: 1rem;
}

.imagen-config img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  img {width: 100%}
  
  div.container {
    text-align: center;
    padding: 10px 20px; 
  }

/* Falta agregar responsive media querys */