// GRILLA

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}
/* 
* Any styling that should be applied to screen widths larger
* than a mobile device: tablet, laptop, desktop, etc. 
*/

@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
}
/* Styling */

.column {
  //border: 1px solid #666;
  //background: #343436;
  padding: 10px;
  //margin-bottom: 10px;
}

/*
    Componente Home.js
*/
.pantallaGrande {
  display: inline;
}
.pantallaChica {
  display: none;
}
.motoVideo {
  display: none;
}
.motoVideo1 {
  display: inline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}
.instagram {
  align-self: center;
  justify-self: center;
  width: 800px;
  padding: 0px 0px 0px 50px;
  height: 700px;
  border: 0;
  overflow: hidden;
}
.facebook {
  height: 700px;
  border: none;
  overflow: hidden;
  width: 500px;
}

/* CSS PRODUCTOS PARA LA APP*/
#folleto {
  width: 70%;
}

#banner {
  width: 30%;
}
#asistente {
  width: 70%;
}

@media only screen and (max-width: 1330px) {
  .instagram {
    width: 700px;
    padding: 0px 50px 0px 0px;
  }
  .folleto {
    width: 90%;
  }
}
@media only screen and (max-width: 1210px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
  }
  .instagram {
    align-self: center;
    justify-self: center;
    width: 500px;
    padding: 0px 0px 0px 50px;
    height: 600px;
    border: 0;
    overflow: hidden;
  }
  .facebook {
    height: 700px;
    border: none;
    overflow: hidden;
    width: 500px;
  }
  .folleto {
    width: 100%;
    padding: 10px;
    height: 350px;
  }
}
@media only screen and (max-width: 510px) {
  .pantallaGrande {
    display: none;
  }
  .pantallaChica {
    display: inline;
  }
  .motoVideo {
    display: inline;
  }
  .motoVideo1 {
    display: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
  }
  .instagram {
    align-self: center;
    justify-self: center;
    width: 350px;
    padding: 50px 0px 0px 0px;
    height: 400px;
    border: 0;
    overflow: hidden;
  }
  .facebook {
    height: 600px;
    border: none;
    overflow: hidden;
    width: 350px;
  }
}

.contenedorContador {
  height: 100vh;
  .contador {
    padding-top: 15px;
    background: #c42fe0;
    background: -moz-linear-gradient(-45deg, #c42fe0 22%, #5ea9fa 100%);
    background: -webkit-linear-gradient(-45deg, #c42fe0 22%, #5ea9fa 100%);
    background: linear-gradient(135deg, #c42fe0 22%, #5ea9fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c42fe0', endColorstr='#5ea9fa',GradientType=1 );

    width: 400px;
    height: 150px;
    position: absolute;
    bottom: 15%;
    left: 38%;
    border-radius: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    .titulo {
      color: white;
      font-weight: 500;
      font-size: 1.3em;
    }
    .tiempo {
      font-weight: 400;
      font-size: 1.6em;
      .horas {
        margin-top: 5px;
        padding-top: 5px;
        height: 55px;
        width: 40px;
        background-color: #ecdbfb;
        color: $color-uno;
        position: center;
        float: left;
        border-radius: 8px;
        margin-left: 13%;
      }
      .horas2 {
        margin-top: 5px;
        padding-top: 5px;
        height: 55px;
        width: 40px;
        background-color: #ecdbfb;
        color: $color-uno;
        position: center;
        margin-left: 3px;
        float: left;
        border-radius: 8px;
      }
      .separador {
        margin-top: 5px;
        padding-top: 0px;
        height: 5px;
        width: 10px;
        color: white;
        position: center;
        margin-left: 5px;
        float: left;
        border-radius: 8px;
      }
      .minutos {
        margin-top: 5px;
        padding-top: 5px;
        height: 55px;
        width: 40px;
        background-color: #ecdbfb;
        color: $color-uno;
        position: center;
        margin-left: 5px;
        float: left;
        border-radius: 8px;
      }
      .minutos2 {
        margin-top: 5px;
        padding-top: 5px;
        height: 55px;
        width: 40px;
        background-color: #ecdbfb;
        color: $color-uno;
        position: center;
        margin-left: 5px;
        float: left;
        border-radius: 8px;
      }
      .segundos {
        margin-top: 5px;
        padding-top: 5px;
        height: 55px;
        width: 40px;
        background-color: #ecdbfb;
        color: $color-uno;
        position: center;
        margin-left: 5px;
        float: left;
        border-radius: 8px;
      }
      .segundos2 {
        margin-top: 5px;
        padding-top: 5px;
        height: 55px;
        width: 40px;
        background-color: #ecdbfb;
        color: $color-uno;
        position: center;
        margin-left: 5px;
        float: left;
        border-radius: 8px;
      }
    }
    .textoTiempo {
      margin-top: 5px;
      font-weight: 400;
      font-size: 0.9em;
      color: white;
      .horas {
        margin-top: -35px;
        position: center;
        float: left;
        border-radius: 8px;
        margin-left: 70px;
      }
      .minutos {
        margin-top: -35px;
        position: center;
        float: left;
        border-radius: 8px;
        margin-left: 170px;
      }
      .segundos {
        margin-top: -35px;
        position: center;
        float: left;
        border-radius: 8px;
        margin-left: 260px;
      }
      span {
        margin-top: -30px;
        margin-left: -150px;
        width: 300px;
        position: absolute;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .contenedorContador {
    .contador {
      left: 15%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .contenedorContador {
    .contador {
      left: 15%;
      width: 300px;
      height: 150px;
      .titulo {
        color: white;
        font-weight: 500;
        font-size: 1.1em;
      }
      .tiempo {
        font-weight: 400;
        font-size: 1.6em;
        .horas {
          margin-top: 5px;
          padding-top: 0px;
          height: 50px;
          width: 40px;
          margin-left: 1%;
        }
        .horas2 {
          margin-top: 5px;
          padding-top: 0px;
          height: 50px;
          width: 40px;
        }
        .separador {
          margin-top: 0px;
          padding-top: 0px;
          height: 5px;
          width: 10px;
        }
        .minutos {
          margin-top: 5px;
          padding-top: 0px;
          height: 50px;
          width: 40px;
        }
        .minutos2 {
          margin-top: 5px;
          padding-top: 0px;
          height: 50px;
          width: 40px;
        }
        .segundos {
          margin-top: 5px;
          padding-top: 0px;
          height: 50px;
          width: 40px;
        }
        .segundos2 {
          margin-top: 5px;
          padding-top: 0px;
          height: 50px;
          width: 40px;
        }
      }
      .textoTiempo {
        margin-top: 5px;
        font-weight: 400;
        font-size: 0.9em;
        color: white;
        .horas {
          margin-top: -35px;
          position: center;
          float: left;
          border-radius: 8px;
          margin-left: 20px;
        }
        .minutos {
          margin-top: -35px;
          position: center;
          float: left;
          border-radius: 8px;
          margin-left: 120px;
        }
        .segundos {
          margin-top: -35px;
          position: center;
          float: left;
          border-radius: 8px;
          margin-left: 210px;
        }
        span {
          margin-top: -30px;
          margin-left: -150px;
          width: 300px;
          position: absolute;
        }
      }
    }
  }
}


//ESTILO SLIDER
$maincolor: #C8A36C;
canvas{
    position: absolute;
}

nav.link-list{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 20px;
    
    display: inline-block;

	li{
		overflow: hidden;
		float: left;
	}
    a{
    	position: relative;
        width: 12px;
        height: 12px;
        margin:5px;
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        transition: background-color 0.5s ease;

        &.is-active{
        	 background-color: $maincolor;
        }
    }
}

nav.btns{
	position: absolute;
	top: 45%;
	width: 100%;

	button{
		position: absolute;
	    display:inline-block;

		width: 44px;
		height: 44px;

		text-align: center;
		line-height: 44px;
		font-weight: bold;
		font-size: 10px;
	    font-family: serif;

	    border-radius:50%;
	    background-color: #fff;
	    cursor: pointer;
	    border: 0;
	    transition: all 0.5s ease;

	    &:focus{
		    outline: 0;
		}
	   


	    &:before{
				content: '';
				position: absolute;
				width: 44px;
				height: 44px;
				top: 0;
				left: 0;
				border: 2px solid $maincolor;
				border-radius: 50%;
				opacity:0;
				transition: all 0.5s ease;
			}

		span{
	    	opacity: 0;
	    	transition: opacity 0.2s ease;
	    }

		&:hover {
			background-color: $maincolor;
			width: 64px;
			height: 64px;
			transform: translateY(-10px);

			&:before{
				opacity:1;
				width: 104px;
				height: 104px;
				top: -22px;
				left: -22px;
			}

			 span{
		    	opacity: 1;
		    }
		}

		&.show-prev{
			left: 15%;
		}
		&.show-next{
			right: 15%;
		}
	}

}

footer{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: sans-serif;
	color: #ccc;
	font-size: 12px;
	line-height: 12px;

	a {
		color: inherit;
	}
}

.loading-txt{
	text-align: center;
	width: 100%;
	font-size: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	&.is-hidden{
		display: none;
	}
	
}
/* COMIENZA ESTILO DE TABS SLIDER*/

@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

/* colors */
$blue: #428bff;
$red: #ff4a53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;

/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count * 250px},
  small: #{$tab-count * 150px},
);

/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: inline;
      }
    }
  }
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }

  .content section h2,
  ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100% / $tab-count};
      padding: 0 10px;
      text-align: center;

      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;

        br {
          display: none;
        }

        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }

  .slider {
    position: relative;
    width: #{100% / $tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;
    }
  }

  .content {
    margin-top: 30px;

    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;

      h2 {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }

  input[name="tab-control"] {
    @include tabs {
      label {
        cursor: default;
        color: $accent;

        svg {
          fill: $accent;
        }

        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;

      br {
        display: initial;
      }

      svg {
        height: 1.5em;
      }
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;

      span {
        display: none;
      }
    }

    .slider {
      display: none;
    }

    .content {
      margin-top: 20px;
      section h2 {
        display: block;
      }
    }
  }
}
