.formulario-mapas{
  margin-top: 110px;
}

.tituloGoogleMap{
  display: none;
}

.titulo-mapas{
    margin-top: 110px;
    background-color: $color-uno;
    height: 50px;
    position: relative;
    margin-bottom: 50px;
    width: 600px;
    span {
        position: absolute;
        top: 10px;
        left: 25px;
        background-color: #fff;
        color: $color-uno;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
        padding: 10px 18px;
        width: 550px;
      }
}
$map-imagen-height: 130px;
$map-imagen-width: 200px;

.map-full-item {
  background-color: #fff;
  display: grid;
  grid-template-areas: "titulo imagen" "body imagen";
  grid-template-columns: auto;
  grid-template-rows: auto;
  .imagen {
    grid-area: imagen;
    position: relative;
    object-fit: cover;
    img {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      height: $map-imagen-height;
      width: $map-imagen-width;
    }
  }
  .titulo {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    grid-area: titulo;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #bf3276;
    justify-content: center;
    h3 {
      margin-top: 5px;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .body {
    grid-area: body;
    padding: 10px;
    p {
      overflow: hidden;
      text-align: justify;
      //height: ($novedad-height - 195px);
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-bottom: 0px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .tituloGoogleMap{
    display: inline;
    position: relative;
    font-size: 2em;
    bottom: 40px;
    padding: 2px 40px;
    background-color: $color-uno;
    color: #fff;
    text-transform: uppercase;
    margin-left: 40%;
  }
}


$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$orange: #FFC39E;
$success: #40b93c;
$secondary: #65FF5F;
$info: #009FFD;
$info-secondary: #73CBFF;


$radarColour: black;
$spreadStartColour: rgba($radarColour, 0.5);
$spreadEndColour: rgba($radarColour, 0);
$size: 20px;

#containerBoxMap {
  position: relative;
  width: 260px;
  height: 190px;
}

.alertBoxMap {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 5px;
  color: $white;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.alertBoxButtonMap {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 5px;
  color: $white;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.green {
  color: darken($secondary, 20%);
}

.blue {
  color: darken($info-secondary, 20%);
}

#success-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, $success 40%, $secondary 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
  perspective: 40px;
}

#info-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, $info 40%, $info-secondary 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
  perspective: 40px;
}

.radar {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 600px;
  background-color: $radarColour;
  left: 50%;
  top: 15%;
  z-index: 2;
  margin-top: -($size/2);
  margin-left: -($size/2);
  border-bottom: 2px solid darken($radarColour, 30%);
  &:before, 
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 600px;
    animation: pulse 2s infinite;
  }
  &:after {
    animation: pulseMapas 2s .3s infinite;
  }
}

@-webkit-keyframes pulseMapas {
  0% {
    -webkit-box-shadow: 0 0 0 0 $spreadStartColour;   
  }
  70% {
      -webkit-box-shadow: 0 0 0 100px $spreadEndColour;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 $spreadEndColour;
  }
}
@keyframes pulseMapas {
  0% {
    -moz-box-shadow: 0 0 0 0 $spreadStartColour;
    box-shadow: 0 0 0 0 $spreadStartColour;
  }
  70% {
      -moz-box-shadow: 0 0 0 100px $spreadEndColour;
      box-shadow: 0 0 0 100px $spreadEndColour;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 $spreadEndColour;
      box-shadow: 0 0 0 0 $spreadEndColour;
  }
}

.messageBoxMap {
  position: absolute;
  width: 100%;
  text-align: center;
  height: fit-content;
  top: 30%;
}

.button-boxMap {
  position: absolute;
  background: $white;
  width: 50%;
  height: 20%;
  border-radius: 20px;
  top: 70%;
  left: 25%;
  outline: 0;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}
.redirectMapBox{
  display: block;
  background: $white;
  margin-top: 20px;
  border-radius: 20px;
  outline: 0;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}

.redirectMapMessage{
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 10px;
  color: $color-dos;
  padding-bottom: 5px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104, 0.8) 100%
  );
}