//@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap");
* {
  //font-family: "Advent Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  overflow: hidden;
}

/*Masonry Layout react-masonty-css documentation*/
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //margin-left: 15%; /* gutter size offset */
  //max-width: 70%;
  width: auto;
  padding-top: 70px;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}
/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 10px;
  cursor: pointer;
}
.my-masonry-grid_column > div > img {
  width: 100%;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
  //filter: brightness(80%);
}
.my-masonry-grid_column > div > img:hover {
  filter: brightness(100%);
  transform: scale(1.02);
  z-index: 50;
  box-shadow: 0px 0px 5px 2px rgb(48, 47, 47);
}
.center-masonry {
  //background: rgb(233, 232, 232);
}

/*MODAL IMAGES CONTAINER*/
.global-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.719);
  z-index: 10000;
}

/*All modalitems container*/
.all-modalItems-container {
  display: flex;
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  z-index: 10000;
}
.modal-container {
  position: relative;
  max-width: 90%;
  //width: 100%;
  max-height: 90%;
  background: rgba(0, 0, 0);
  z-index: 10000;
}
.modal-element {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: 10000;
}
.PhotosInfoModal {
  max-width: 30%;
  width: 100%;
  background: rgba(255, 255, 255, 0.918);
  z-index: 10000;
}
p {
  font-size: 15px;
  margin: 10px 10px;
}
.button-container {
  display: flex;
}
.tag-container {
  margin-right: 5px;
}
.tag {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 65%;
  max-width: 100%;
  background-color: #dddcdce8;
  border-radius: 25px;
  color: black;
  border: none;
  box-shadow: 0px 0px 0px 0px black;
  transition: ease-in;
  font-size: 15px;
  cursor: pointer;
}
.tag:hover {
  box-shadow: 0px 0px 5px 1px rgba(138, 137, 137, 0.877);
}

/*NAV BAR*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  background: #24252a;
}

.header-container {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 75%;
  width: 100%;
}

.logo {
  cursor: pointer;
  color: white;
  box-shadow: 0 0 0 2px white;
  height: 85%;
  display: flex;
  background: rgb(0, 166, 83);
  align-items: center;
  padding: 0 7px;
  margin-right: auto;
  text-align: center;
  /*clip-path: inset(28% 28% 28% 28%); - RECORTAR IMÃGENES*/
}
a {
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.caribe-sstore {
  margin-right: auto;
  font-size: 40px;
}

.login-register-section {
  display: flex;
  align-items: center;
}

.signIn,
.signUp {
  /*background: #70d7d5;*/
  background: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.signUp {
  background: rgb(18, 164, 151);
  box-shadow: 0 0 0 2px white;
}

.signIn:hover,
.signUp:hover {
  color: rgba(230, 230, 230, 0.89);
}

.signUp:hover {
  background: rgb(16, 136, 126);
  box-shadow: 0 0 0 2px rgba(230, 230, 230, 0.89);
}

.ciudad{
  position: absolute;
  top: 0%;
  left: 0%;
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104, 0.8) 100%
  );
  color: white;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.container-img {
  position: relative;
  animation: show 0.8s ease;
}

@keyframes show {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

.hashtag-container{
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  padding: 4px;
  z-index: 1;
  animation: show .8s ease;
}

.hashtag-container:hover {
  filter: brightness(100%);
  //transform: scale(1.02);
  z-index: 50;
  box-shadow: 0px 0px 5px 2px rgb(48, 47, 47);
  .my-masonry-grid_column > div > img {
    filter: brightness(100%);
    transform: scale(1.02);
    z-index: 50;
    box-shadow: 0px 0px 5px 2px rgb(48, 47, 47);
  }
  
}

.hashtag {
  right: 3%;
  position: absolute;
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104, 0.8) 100%
  );
  opacity: 0.75;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 5px;
  width: auto;
  font-size: 12px
}

.localidad-tag {
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104, 0.8) 100%
  );
  position: absolute;
  top: 0%;
}

.localidad-tag p {
  font-weight:200;
}

.first{
  bottom : 0.5rem;
}

.second {
  bottom: 1.7rem;
}

.third {
  bottom: 2.9rem;
}

.fourth {
  bottom: 4.1rem;
}

.fifth {
  bottom: 5.3rem;
}

// PhotosModal css

.modal-body{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  max-height: 80%;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  //background-color: rgba(200, 200, 200);
  
  //position: flex;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  //Visor Modifications

  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  overflow-y: hidden;
}

.modal-container {
  width: 95%;
  height: 95%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104) 100%
  );
}

.contain{
  //padding: 1%;
  height: inherit;
  object-fit: contain;
}

.modal-container .modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  color: rgba(241, 236, 236, 0.8);
}

.title-close-btn {
  display: flex;
  justify-content: flex-end;
  color: rgba(241, 236, 236, 0.7);
}

.title-close-btn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

 .footer-gallery-modal {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  padding: 1rem;
}

.hashtag-modal {
  border:2px solid white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  margin: 0% 1%;
  min-width: 100px;
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104) 100%
  );
  transition: all 0.3s ease;
}

.hashtag-modal:hover{
  background-color: whitesmoke; 
  filter: brightness(100%);
    transform: scale(1.02);
}

.title-close-btn:hover{
  color: rgba(241, 236, 236, 1);
  cursor: pointer;
}

.wrapper {
  display: flex;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.2s;
}

.hashtag-filter {
  background: linear-gradient(
    to right,
    #722789 0%,
    rgba(237, 15, 104, 0.8) 100%
  );
  border-radius: 12px;
  //padding: 5%;
  //margin: 1%;
  display: block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4px 8px;
  margin: 8px 8px;
  //background-color: #ccc;
  -webkit-border-radius: 12px;
  //border-radius: 4px;
  cursor: pointer;
}

.hashtag-filter:hover {
  background-color: #722789;
}

.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 10%;
}

.loading p{
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  font-size: medium;
  font-style: italic;
  color: #722789;
  //text-transform: uppercase;
	//color: transparent;
  text-align: center;
  text-shadow: 2px 2px 10px #722789;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1em;
  animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px $blue;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px $blue;
	}
}