/*
    Componente Menu.js
*/

/*-------------Menu nueva estetica para probar ------------*/

.topBar {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 7px;
  a {
    color: white;
  }
  .tabIconos:hover {
    font-size: 20px;
    transition: all  0.3s
  }
}

.topBarTitle {
  padding-right: 150px;
}

.bg-navbar {
  background-position: bottom;
  background-image: url("./utils/images/menu-img.png");
  min-height: 140px;
  max-height: 170px;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 101;

  /*Cambiar fuente desde el body*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  text-align: center;
  font-size: 17px;
  font-weight: bold;
  //transition: all 0.1s;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.nav-space {
  width: 2rem;
  height: 1px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-top: 40px;
  padding-right: 50px;
  color: #f2f2f2;
  font-size: 17px;
  width: 100%;
}

.buscador-destino {
  width: 240px;
  height: 40px;
  float: right;
  border-radius: 18px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

#buscar {
  background-color: rgba(0, 0, 0, 0.1);
}

.buscador-icon {
  padding-left: 35px;
  background: url("./utils/images/search.png") no-repeat 5%;
  background-size: 20px;
}

.buscador-destino::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 45px;
  border-radius: 10px;
  font-weight: normal;
  opacity: 0.75;
}

.dropdown-content a {
  color: #a10d59;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: transparent;
  font-size: 17px;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #000;
}

/* cambio de estilo del Navbar al scrollear
.scroll {
position: fixed;
min-height: 137px;
background-image: url("./utils/images/scrollNavbar.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}*/

/*Logo class*/
.img-brand {
  position: absolute;
  //margin-top: -2%;
  //width: 240px;
  //left: 25%;
  transform: translatex(-50%);
}

#collasible-nav-dropdown {
  color: whitesmoke;
}

/* shows dropdown menu options from navbar */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 90%;
}

#logoscroll {
  //width: 200px;
  width:150px;
  //left: 28%;
  left: 10%;
  margin-top: -2%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

/* Altura de los items del navbar*/
.nav-container {
  white-space: nowrap;
  margin: 2% 0;
  float: right;
}
/*Lista dinamica de localidades*/
.ul-busqueda {
  background-color: #c42a59;
  width: 250px;
  max-height: auto;
  overflow: auto;
  position: absolute;
  margin-left: 5px;
  margin-top: 40px;
  border-radius: 18px;
  transition: all 1s;
  z-index: 4;
  color: white;
  font-weight: 500;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  opacity: 75%;
}


.menuNew {
  height: 50px;
}


button.navbar-toggler {
  float: right;
  padding: 5px;
  margin: 20px;
}


.liLista {
  &:hover {
    // text-decoration-line: underline;
    // font-size: 18px;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width: 991px) {
  #logoscroll{
    //width: 150px;
    left:  50%;
    transition: all 0.3s;

  }

  .topBar{
    display: none;
  }

  #nav{
    //object-fit: contain;
    //top:0px;
  }

  .navbar-center{
    font-size: small
  }

  .busador-icon{
    background-size: 15px;
  }

  .buscador-destino{
    font-size: small;
    width: 180px;
    height: 30px;
    float: right;
    border-radius: 18px;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }

  .buscador-destino::placeholder{
    font-size: small;
  }

  .dropdown-item{
    font-size: small;
  }

  .ul-busqueda{
    width: 180px;
    font-size: small;
  }

  .offset-md-3{
    margin-left: 10%;
    transition: all 0.3s;
  }

  .dropdown-item{
    overflow: visible
  }
}