//Contenedor de complemento
.container-sliderActividades {
  margin: 10% 0;
  padding: 0 10%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.slider2Actividades {
  width: 1300px;
  height: 1000px;
  border-radius: 10px;
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  //margin-top:auto;
  //box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.slidesActividades{
  width: 400%;
  height: auto;
  display: flex;
  margin-top: 10%;
  //justify-content: space-between;
  //  overflow: hidden;
}

.slidesActividades input {
  display: none;
}

.slideActividades {
  width: 25%;
  height: 100%;
  transition: 2s;
  padding: 0 0.5%;
  //overflow-x:hidden;
  //overflow-y: visible;
  //display: inline-flex;
  //margin: 0;
  //padding: 0;
}

.imgSlideActividades {
  //width: 800px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  //margin-top: 4%;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  //box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  //height: 500px;
  /* z-index: -1;
  background-size: cover;
  position: relative;
  object-fit: contain;
  background-repeat: no-repeat;*/
}

.slideActividades p {
  z-index: 3;
  font-size: 5rem;
  float: left;
  margin-top: -20%;
  margin-left: 3%;
  position: relative;
  font-weight: 800;
  color: white;
  font-family: Roboto;
}

.slideActividades span {
  font-weight: 600;
  font-size: large;
  font-family: Roboto;
}

.descripcionAct {
  margin: 0;
}

// CSS for manual navigation
.navigation-manual {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: -14px;
}

.manual-btn {
  border: 2px solid #9c9e9f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

  //espacio entre radio buttons
  margin: auto 2%;
  background: #9c9e9f;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}

/* CSS for automatic navigation*/

.navigation-auto {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;

  margin-top: 3%;
}

.navigation-auto div {
  border: 2px solid #9c9e9f;
  padding: 5px;
  border-radius: 10px;
  transition: 5s;

  margin: auto 2%;
  background: #9c9e9f;
}

#radio1:checked ~ .auto-btn1 {
  background: white;
}
#radio2:checked ~ .auto-btn2 {
  background: white;
}
#radio3:checked ~ .auto-btn3 {
  background: white;
}
#radio4:checked ~ .auto-btn4 {
  background: white;
}

#tuExperiencia {
  z-index: 3;
  margin-top: -57.5%;
  margin-right: 5%;
  float: right;
  position: relative;
  width: 12rem;
  height: 2rem;
  //margin-left: 520px;
  background-size: contain;
}

@media only screen and (max-width: 1280px) {
  #tuExperiencia {
    width: 10rem;
    height: 1.66rem;
    transition: 0.3s;
  }

  .slideActividades p {
    font-size: 4rem;
    transition: 0.3s;
  }

  .imgSlideActividades {
    border-radius: 20px;
    transition: 0.3s;
  }

  .container-sliderActividades {
    margin-top: 15%;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 720px) {
  #tuExperiencia {
    width: 8rem;
    height: 1.33rem;
    transition: 0.3s;
  }

  .slideActividades p {
    font-size: 3rem;
    transition: 0.3s;
  }

  .imgSlideActividades {
    border-radius: 15px;
    transition: 0.3s;
  }

  .slideActividades span {
    font-weight: 400;
    font-size: medium;
    transition: 0.3s;
  }

  .container-sliderActividades {
    margin-top: 20%;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 480px) {
  #tuExperiencia {
    width: 6rem;
    height: 1rem;
    transition: 0.3s;
  }

  .slideActividades p {
    font-size: 2rem;
    transition: 0.3s;
  }

  .imgSlideActividades {
    border-radius: 10px;
    transition: 0.3s;
  }

  .container-sliderActividades{
    margin-top: 40%;
    transition: 0.5s;
  }

  .slideActividades span {
    font-weight: 400;
    font-size: small;
    transition: 0.3s;
  }
}
