$theme-color: #00c7b1;

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba($theme-color, 0.4); }
  75%, 100% { box-shadow: 0 0 0 2rem rgba($theme-color, 0); }
}

.chat-widget {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 100; 

  &--button-second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    right: 0;
    margin-bottom: 5.5px;
    cursor: pointer;
    bottom: 4.7rem;
    z-index: 1;
    border-radius: 50%;
    background-color: $theme-color;
    box-shadow:
      0 0 0 -2px rgba(black, 1),
      0 2px 4px 0 rgba(black, 0.3);
      
    transition: opacity 400ms ease, transform 400ms ease;
    transform: translateY(0rem) scale(1, 1) skew(0deg, 0deg);
    
    &.-hide {
      opacity: 0;
      transform: translateY(3rem) scale(0, 0) skew(0deg, 50deg);
    }

    &:hover {
        box-shadow:
          0 16px 10px -8px rgba(black, 0.3),
          0 4px 10px 0 rgba(black, 0.2);
      }
  
      /*&::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 50%;
        animation: pulse 2s ease-in-out 5;  
      }
      &::after {
        animation-delay: 0.5s;
      }*/
  }

  &--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    background-color: $theme-color;
    box-shadow:
      0 0 0 -2px rgba(black, 1),
      0 2px 4px 0 rgba(black, 0.3);
    transition: box-shadow 250ms ease;

    &:hover {
      box-shadow:
        0 16px 10px -8px rgba(black, 0.3),
        0 4px 10px 0 rgba(black, 0.2);
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 50%;
      animation: pulse 2s ease-in-out infinite;  
    }
    &::after {
      animation-delay: 0.5s;
    }
  }

  &--icon {
    width: 2.5rem;
    height: auto;

    path {
      fill: white;
    }
  }

}

@media only screen and (max-width: 510px) {
  .chat-widget{
    display: none;
  }
}

